<header style="padding:20px; display:flex; justify-content:space-between;">
  <h2>{{ store.name }}</h2>

  <nav>
    <a href="/">الرئيسية</a>
    <a href="/products">المتجر</a>
    <a href="/contact">تواصل</a>
  </nav>
</header>
