<!DOCTYPE html>
<html lang="ar">
<head>
  <meta charset="UTF-8">
  <title>{{ store.name }}</title>
  <link rel="stylesheet" href="/assets/css/style.css">
</head>

<body>

  {% include "components/header.twig" %}

  {% block content %}{% endblock %}

</body>
</html>
