{% extends "layouts/master.twig" %}

{% block content %}

<section style="height:80vh; display:flex; align-items:center; justify-content:center; background:#111; color:#fff;">
  <div style="text-align:center;">
    <h1>أفضل قوالب سلة</h1>
    <p>ابدئي متجرك الآن بشكل احترافي</p>
  </div>
</section>

{% endblock %}
